<div id="ticker">
  <h1>Arise Chickun</h1>
  <div class="last_price">
    <h2>BTC</h2>
    <div><span class="label">Mt. Gox:</span> <span class="last btc_usd mtgox"></span></div>
    <div><span class="label">Bitstamp:</span> <span class="last btc_usd bitstamp"></span></div>
    <div><span class="label">BTC-e:</span> <span class="last btc_usd btce"></span></div>
    
    <div><span class="label">BTCChina:</span> <span class="last btc_usd btcchina"></span></div>
  </div>
  <div class="last_price">
    <h2>LTC</h2>
    <div><span class="label">BTC-e:</span> <span class="last ltc_usd btce"></span></div>
  </div>
</div>

<div id="chart"></div>

<div id="depth">
  <h1></h1>
  <div id="asks"></div>
  <div class="last"></div>
  <div id="bids"></div>
</div>
